<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Meta name="viewport" content="width=device-width,intial scale=1.0">
        <title>BDI QUIIZ-Affective</title>
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h2> <center>BDI QUIZ</center></h2>

        <div class="question">
            <p><b>you been experiencing any sadness lately? </b> 
            <div class=" options"
                <div class="option">
                    <input type="radio" name="Have you been experiencing any sadness lately?"
                    value="0">
                    <label>i do not feel sad.</label>


            </div>
            <div class="option">
                <input type="radio" name="Have you been experiencing any sadness lately?"
                value="1">
                <label>i feel sad.</label>

            </div>
            <div class="option">
                <input type="radio" name="Have you been experiencing any sadness lately? "
                value="2">
                <label> i am sad all the time and ican't snap out of it.</label>

            </div>
            <div class="option">
                <input type="radio" name="Have you been experiencing any sadness lately?"
                value="3">
                <label> i am so sad and unhappy that i can't stand it.</label>
            </div>
        </div>    
    </div>

    <div class="question">
         <p>have you been feeling more pessimistic about things lately? 
         </p>
    <div class="options">
        <div class="option">
            <input type="radio" name="have you been feeling more pessimistic about things lately?"            
            value="0">
            <label> i am not particulaly discouraged about the future.</label>

        </div>
        <div class=" option">
            <input type="radio" name="have you been feeling more pessimistic about things lately? "
            value="1">
            <label>i feel discouraged about the future.</label>

        </div>
        <div class="option">
            <input type="radio" name="have you been feeling more pessimistic about things lately?"
            value="2">
            <label> i feel i have nothing to look forward to.</label>

        </div>
        <div class="option">
            <input type="radio" name="have you been feeling more pessimistic about things lately?"
            value="3">
            <label> i feel the future is hopeless and that things cannot improve.</label>
          </div>
        </div>
    </div>
<div class="question">
    <p>Have you noticed any loss of pleasure or interest in things you usually enjoy? 
    </p>
    <div class="options">
        <div class="option">
            <input type="radio" name="Have you noticed any loss of pleasure or interest in things you usually enjoy?"
            value="0">
            <label> i get as much satisfaction out of things as i used to.</label>

        </div>
        <div class="option">
            <input type="radio"  name="Have you noticed any loss of pleasure or interest in things you usually enjoy?"
             value="1">
             <label> i don't enjoy things the way I used to.</label>
        </div>
        <div class="option">
            <input type="radio" name="Have you noticed any loss of pleasure or interest in things you usually enjoy?"
            value="2">
            <label>I don't get real satisfaction out of anything anymore.</label>

        </div>
        <div class="option">
            <input type="radio" name="Have you noticed any loss of pleasure or interest in things you usually enjoy?"
            value="3">
            <label>I am dissatisfied or bored with everything.</label>
           </div>
        </div>
    </div>
<div class="question">
<p> have you been struggling with any suicidal thoughts recently? 
</p>
<div class="options">
    <div class="option">
        <input type="radio" name=" have you been struggling with any suicidal thoughts recently? "
        value="0">
        <label>I don't have any thoughts of killing myself.</label>
    </div>
    <div class="option">
        <input type="radio" name="have you been struggling with any suicidal thoughts recently?"
        value="1">
        <label>I have thoughts of killing myself, but I would not carry them out.</label>
        
    </div>
    <div class="option">
        <input type="radio" name="have you been struggling with any suicidal thoughts recently? "
        value="2">
        <label>I would like to kill myself.</label>
    </div>
    <div class="option">
        <input type="radio" name="have you been struggling with any suicidal thoughts recently?"
        value="3">
        <label>I would kill myself if I had the chance.</label>
          </div>

    </div>
</div>

<div class="question">
<p>Have you noticed any loss of interest in activities or hobbies that used to bring you joy? 
</p>
<div class="options">
    <div class="option">
        <input type="radio" name="Have you noticed any loss of interest in activities or hobbies that used to bring you joy?"
         value="0">
         <label>I have not lost interest in other people.</label>
    
    </div>
    <div class="option">
        <input type="radio" name="Have you noticed any loss of interest in activities or hobbies that used to bring you joy?"
        value="1">
        <label>I am less interested in other people than I used to be.</label>

    </div>
    <div class="option">
        <input type="radio" name="Have you noticed any loss of interest in activities or hobbies that used to bring you joy? "
        value="2">
        <label>I have lost most of my interest in other people. </label>
    </div>
    <div class="option">
        <input type="radio" name="Have you noticed any loss of interest in activities or hobbies that used to bring you joy?"
        value="3">
        <label>I have lost all of my interest in other people. </label>
        </div>
    </div>
</div>
  <div>
    <button id="nextButton">Next</button>

    <script>
        document.getElementById('nextButton').onclick = function() {
            window.location.href = "/cognitive";  // Next URL for cognitive quiz
        };
    </script>
    
</body>
</html>