<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpor<t" content="width=device-width, initial-scale=1.0">
    <title>BDI Quiz - Cognitive</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
    <div class="container">
        <h2>Quiz</h2>

        <div class="question">
            <p><b>how you think back on the things that went wrong in the past.</b>
            
            
            div class="options">
                <div class="option">
                    <input type="radio" name="how you think back on the things that went wrong in the past."
                    value="0">
                    <label>I do not feel like a failure.</label>
                </div>
                <div class="option">
                    <input type="radio" name="how you think back on the things that went wrong in the past."

                    value="1">
                    <label>I have failed more than I should have.</label>
                </div>
                <div class="option">
                    <input type="radio" name="how you think back on the things that went wrong in the past."

                    value="2">
                    <label>As I look back, I see a lot of failures.</label>
                </div>
                <div class="option">
                    <input type="radio" name="how you think back on the things that went wrong in the past."

                     value="3">
                    <label>I feel I am a total failure as a person.</label>
                </div>
            </div>
        </div>

        <div class="question">
            <p><b>whether you've been feeling guilty at all?</b>

            </p>
            <div class="options">
                <div class="option">
                    <input type="radio" name="whether you've been feeling guilty at all?"
                     value="0">
                    <label>I don't feel particularly guilty.</label>
                </div>
                <div class="option">
                    <input type="radio" name="whether you've been feeling guilty at all?"
                    value="1">
                    <label>I feel guilty over many things I have done or should have done.</label>
                </div>
                <div class="option">
                    <input type="radio" name="whether you've been feeling guilty at all?"
                    value="2">
                    <label>I feel quite guilty most of the time.</label>
                </div>
                <div class="option">
                    <input type="radio" name="whether you've been feeling guilty at all?"
                    value="3">
                    <label>I feel guilty all of the time.</label>
                </div>
            </div>
        </div>

        <div class="question">
            <p><b>what your overall thoughts are regarding punishment? </b>
            </p>
            <div class="options">
                <div class="option">
                    <input type="radio" name="what your overall thoughts are regarding punishment?" 
                    value="0">
                    <label>I don't feel I am being punished.</label>
                </div>
                <div class="option">
                    <input type="radio" name="what your overall thoughts are regarding punishment?" 
                    value="1">
                    <label>I feel I may be punished.</label>
                </div>
                <div class="option">
                    <input type="radio" name="what your overall thoughts are regarding punishment?" 
                    value="2">
                    <label>I expect to be punished.</label>
                </div>
                <div class="option">
                    <input type="radio" name="what your overall thoughts are regarding punishment?" 
                    value="3">
                    <label>I feel I am being punished.</label>
                </div>
            </div>
        </div>

        <div class="question">
            <p><b>Have you ever had any episodes of self-dislike?</b>
            </p>
            
            <div class="options">
                <div class="option">
                    <input type="radio" name="Have you ever had any episodes of self-dislike?"
                     value="0">
                    <label>I feel the same about myself as ever.</label>
                </div>
                <div class="option">
                    <input type="radio" name="Have you ever had any episodes of self-dislike?"
                    value="1">
                    <label>I have lost confidence in myself.</label>
                </div>
                <div class="option">
                    <input type="radio" name="Have you ever had any episodes of self-dislike?"
                    value="2">
                    <label>I am disappointed in myself.</label>
                </div>
                <div class="option">
                    <input type="radio" name="Have you ever had any episodes of self-dislike?"
                    value="3">
                    <label>I hate myself.</label>
                </div>
            </div>
        </div>

        <div class="question">
            <p><b>how you usually deal with self-criticism moments? </b>
            </p>
            <div class="options">
                <div class="option">
                    <input type="radio" name="how you usually deal with self-criticism moments?"
                    value="0">
                    <label>I don't criticize or blame myself more than usual.</label>
                </div>
                <div class="option">
                    <input type="radio" name="how you usually deal with self-criticism moments?"
                    value="1">
                    <label>I am more critical of myself than I used to be.</label>
                </div>
                <div class="option">
                    <input type="radio" name="how you usually deal with self-criticism moments?"
                    value="2">
                    <label>I criticize myself for all of my faults.</label>
                </div>
                <div class="option">
                    <input type="radio" name="how you usually deal with self-criticism moments?"
                    value="3">
                    <label>I blame myself for everything bad that happens.</label>
                </div>
            </div>
        </div>

        <div class="question">
            <p><b> how you were feeling about making decisions lately? </b>
            </p>
            <div class="options">
                <div class="option">
                    <input type="radio" name=" how you were feeling about making decisions lately?"
                    value="0">
                    <label>I make decisions about as well as ever.</label>
                </div>
                <div class="option">
                    <input type="radio" name=" how you were feeling about making decisions lately?"
                    value="1">
                    <label>I find it more difficult to make decisions than usual.</label>
                </div>
                <div class="option">
                    <input type="radio" name=" how you were feeling about making decisions lately?"
                    value="2">
                    <label>I have much greater difficulty in making decisions than I used to.</label>
                </div>
                <div class="option">
                    <input type="radio" name=" how you were feeling about making decisions lately?"
                    value="3">
                    <label>I can't make decisions at all anymore.</label>
                </div>
            </div>
        </div>

        <div class="question">
            <p><b>whether you've recently been struggling with thoughts of worthlessness? </b>
            </p>
            <div class="options">
                <div class="option">
                    <input type="radio" name="whether you've recently been struggling with thoughts of worthlessness?"


                    value="0">
                    <label>I don't feel I am worthless.</label>
                </div>
                <div class="option">
                    <input type="radio" name="whether you've recently been struggling with thoughts of worthlessness?"


                    value="1">
                    <label>I don't consider myself as worthwhile and useful as I used to.</label>
                </div>
                <div class="option">
                    <input type="radio" name="whether you've recently been struggling with thoughts of worthlessness?"


                    value="2">
                    <label>I feel more worthless as compared to other people.</label>
                </div>
                <div class="option">
                    <input type="radio" name="whether you've recently been struggling with thoughts of worthlessness?"
                    


                    value="3">
                    <label>I feel utterly worthless.</label>
                </div>
            </div>
        </div>
    </div>
    <button id="nextButton">Next</button>

    <script>
        document.getElementById('nextButton').onclick = function() {
            window.location.href = "somatic.html";
        };
    </script>
</body>
</html>
