<!DOCTYPE html>
<html lang="en">
<head>
    <title>Depression Predictions Inventory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
    <div>
        <h1>Welcome to the BDI Quiz</h1>
        <p>Let's Evaluate Mental health:</p>
            
        <li><a href="{{url_for('prediction')}}">Start</a></li>

        <h4>Why Take the BDI Quiz?</h4>
        <p>The BDI (Beck Depression Inventory) Quiz is designed to help you understand your emotional and cognitive well-being. By taking these quizzes, you can gain insights into different aspects of your mental health.</p>
        <h4>How to Use the BDI Quiz?</h4>
        <p>Simply click on Start to begin. Quiz focuses on a specific area - affective, cognitive, or somatic. Answer the questions honestly to get the most accurate results.</p>
        <h4>Good Being!</h4>
        <p>Remember, taking care of your mental health is important. Regardless of the results, use this quiz as a tool for self-awareness and seek professional help if needed.</p>
    </div>
</body>
</html>
